.icon-24hours {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-apartments {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bolt {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cup {
  width: 0.89em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-house-key {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-rent {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.icon-share {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sold {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
